body {
  padding: 50px;
  font: 14px "Lucida Grande",
  Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-form, .done-form {
  display: inline-block;
}

.done-button {
  background-color: aqua;
}

.delete-button {
  background-color: red;
  color: white;
}

.all-done-button {
  background-color: blueviolet;
  color:white;
}

li {
  padding: 10px;
}

body {
    margin: 25px;
}

.urgent-icon {
    height: 25px;
}

.done-task {
    text-decoration: line-through;
    font-style: italic;
    color: gray;
}

div.delete-button-div > button.button-delete {
    color: #FA6C03;
    border: 0.1rem solid #FA6C03;
}


#flash-message {
    color: darkgreen;
}
